.navbar{
    background-color: #BC4E25;
    width: 90%;
    height: 6rem;
    border-radius: 6rem;
    margin: 0 auto;
}

.navbar__list{
    display: flex;
    list-style: none;
    align-items: center;
    height: 6rem;
}

.nav__item{
    margin-inline: 3rem;
    font-family: "Hallowen inline", sans-serif;
    color: white;
    font-size: 2.4rem;
}

.nav__item > a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}