@import './components/login/login.style.css';
@font-face {
  font-family: "October Crow";
  src: url("./assets/fonts/OctoberCrow.ttf") format("truetype");
}

@font-face {
  font-family: "Hallowen inline";
  src: url("./assets/fonts/HallowenInline.ttf") format("truetype");
}
:root {
  --form-bg-color: rgba(0, 0, 0, 0.3);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

form{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.input-container{
  position: relative;
  display: flex;
  margin-bottom: 20px ;
  width: 60%;
}

.general-input{
  background: #898989;
  border: 1px solid #979797;
  border-radius: 8px;
  height: 40px;
  padding: 5px 5px 5px 30px;
  outline: none;
  caret-color: red;
color: ghostwhite;
width: 100%;

}

.general-input::placeholder{
  color: rgba(255, 255, 255, 0.72);

}






